%div{style: 'height: 20px'}

%div{style: 'max-width: 1080px; margin: 0 auto;'}
  %h1 Donors
  %div
    Filters
    = link_to 'Any status', donors_path
    - Donor.pluck(:status).uniq.each do |status|
      - next if status == ''
      - status = 'blank' if status.nil?
      = link_to status, donors_path(status: status)

  - fields = %i(timestamp address_city region number_of_masks status)
  %table.pure-table.pure-table-bordered
    %thead
      %tr
        - fields.each do |field|
          %th= field.to_s.titleize
        %th Onfleet Task
        %th
        %th
    %tbody
      - @donors.each_with_index do |donor, idx|
        %tr{class: idx % 2 == 0 ? 'pure-table-even' : 'pure-table-odd'}
          - fields.each do |field|
            %td= donor.send(field)
          %td
            - if donor.onfleet_task_id
              = link_to 'View Onfleet Task', onfleet_task_donor_path(donor)
          %td
            - if donor.latitude.present? && donor.longitude.present?
              = link_to 'Onfleet Sync', sync_to_onfleet_donor_path(donor),  method: :post
            - else
              = link_to 'Try Geocode', geocode_donor_path(donor), method: :post
          %td
            = link_to 'View', donor_path(donor)
