%div{style: 'height: 60px'}
%div.manual-geocode{style: 'width: 980px; margin: 0 auto'}
  = form_for @donor do |f|
    %table.pure-table{style: 'width: 100%'}
      %tr
        %td= f.label :address_street
        %td= f.text_field :address_street
      %tr
        %td= f.label :address_apartment
        %td= f.text_field :address_apartment
      %tr
        %td= f.label :address_city
        %td= f.text_field :address_city
      %tr
        %td= f.label :address_zip
        %td= f.text_field :address_zip
      %tr
        %td= f.label :latitude
        %td= f.text_field :latitude
      %tr
        %td= f.label :longitude
        %td= f.text_field :longitude
    %div
      = f.submit
