<!DOCTYPE html>
<html>
  <head>
    <title>GetMePpe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
    <script src="maps.js"></script>
  </head>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <body>
    <div class="flash-bar">
      <div style="float: left">
          Get Me PPE
      </div>
      <div style="float: left; padding-left: 20px;">
        <% if notice %>
          <div class="alert alert-success"><%= notice %></div>
        <% elsif alert || flash[:error] %>
          <div class="alert alert-danger"><%= alert || flash[:error] %></div>
        <% end %>
      </div>
      <div style="float: right">
        <% if current_user %>
          <%= link_to 'logout', destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
